<%= render @article %>

<% if user_signed_in? %>
	<div class="admin">
		<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure you want to delete that?'} %>
	</div>
<% end %>

