/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Sanchez|League+Script|Raleway:300);

body {
	background-color: white;
}

.body {
	margin: 0 auto;
	width: 990px;
}

.main {
	width: 670px;
	display: inline-block;
}

.about_page_image {
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.sidebar {
	width: 300px;
	margin-right: 10px;
	border: 2px solid rgb(38,38,38);
	display: inline-block;
	float: right;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.sidebar_image {
	width: 280px;
	height: auto;
	margin: 10px;
}

.about_link {
	color: black;
}

.about_link:hover {
	color: black;
}

.about_link:hover .sidebar_image {
	opacity: 0.9;
}

.about {
	margin-top: 10px;
	font-family: 'League Script', cursive;
	font-size: 2.6em;
	text-align: left;
	line-height: 0.75em;
	margin-left: 50px;
	display: block;
}

.social_links {
	margin-left: 10px;
	margin-right: 10px;
	list-style-type: none;
	padding: 0;
}

.social_links span {
	width: 280px;
	height: 40px;
	background-color: rgb(248,217,201);
	display: block;
	padding-top: 10px;
}

.social_links a {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	color: rgb(38,38,38);
}

.social_links li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: rgb(217,131,112);
}

a:hover {
	text-decoration: none;
	color: rgb(100,100,100);
}

.social_links a:hover {
	color: rgb(38,38,38);
}

.social_links span:hover {
	background-color: rgba(248,217,201,0.6);
}

header {
	text-align: center;
	width: 670px;
	margin-top: 20px;
}

.blog_title {
	font-family: 'Raleway', sans-serif;
	color: rgb(38,38,38);
	font-weight: 300;
	font-size: 4em;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 0;
}

.blog_title a:hover {
	color: rgb(38,38,38);
}

.text_input {
	border: 1px solid rgb(248,217,201);
	text-align: left;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin-bottom: 10px;
}

input.text_input {
	width: 300px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
}

textarea.text_input {
	width: 500px;
	height: 500px;
}

.admin, .alert {
 	font-family: 'Raleway', sans-serif;
	font-size: 1em;
 	text-align: center;
 	text-transform: uppercase;
}

.alert {
	text-align: left;
	padding-left: 10px;
}

footer {
	text-align: center;
	margin-top: 30px;
}

.byme {
	font-family: 'Raleway', sans-serif;
	color: rgb(100,100,100);
	font-size: 0.75em;
	text-transform: uppercase;
}

.contact-me-link {
  position: fixed;
  bottom: 100px;
  right: -30px;
  font-family: 'Raleway', sans-serif;
}

.contact-me-wrapper {
  transform: rotate(-90deg);
  padding: 10px 15px;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.contact-me-wrapper:hover {
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.2);
}

.contact-me-wrapper a {
  color: black;
}
